@using MBA.Marketplace.MVC.ViewModels;
@using MBA.Marketplace.Business.Enums
@model List<CategoriaViewModel>
@{
    ViewData["Title"] = "Listar Categorias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.RegistroSucesso = TempData["RegistroSucesso"];

    var isAdmin = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == TipoUsuario.Administrador.ToString();
    var isVendedor = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == TipoUsuario.Vendedor.ToString();
}

@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}
else
{
    <table class="table table-sm table-hover align-middle">
        <thead class="table-light border-bottom">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                @if (isAdmin)
                {
                    <th style="width: 120px;" class="text-end">Ações</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr class="border-bottom border-secondary-subtle">
                    <td class="fw-semibold">@categoria.Nome</td>
                    <td class="text-muted">@categoria.Descricao</td>
                    @if (isAdmin)
                    {
                        <td class="text-end">
                            <a class="btn btn-outline-aplication btn-sm me-1" title="Editar" href="@Url.Action("editar", "categoria", new { id = categoria.Id })" data-id="@categoria.Id">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a onclick="deletarCategoria(this, event)" class="btn btn-outline-danger btn-sm btn-remover" title="Remover" data-id="@categoria.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (isAdmin)
{ 
    @section Scripts {
        @if (ViewBag.RegistroSucesso == true)
        {
            <script>
                var meuModal = new bootstrap.Modal(document.getElementById('modalSucessoEditarCategoria'));
                meuModal.show();
            </script>
        }

        <script>
            let categoriaId = null;
            let url = "@Url.Action("deletar", "categoria")";

            function deletarCategoria(element, event) {
                event.preventDefault();
                categoriaId = $(element).data('id');
                const modal = new bootstrap.Modal(document.getElementById('modalConfirmarRemoverCategoria'));
                modal.show();
            }

            function confirmacaoDeletarCategoria(element, event) {
                event.preventDefault();

                if (!categoriaId) return;

                $('#spinner').removeClass('d-none');
                $('#btnConfirmarRemocao').prop('disabled', true);

                $.ajax({
                    url: `${url}/${categoriaId}`,
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function () {
                        $('#modalConfirmar').modal('hide');
                        showResultado("Categoria removida com sucesso!", true);
                    },
                    error: function (err) {
                        let mensagem = err.responseText || "Erro ao remover categoria. Tente novamente.";
                        $('#modalConfirmar').modal('hide');
                        showResultado(mensagem, false);
                    },
                    complete: function () {
                        $('#spinner').addClass('d-none');
                        $('#btnConfirmarRemocao').prop('disabled', false);
                    }
                });
            };

            function showResultado(mensagem, sucesso) {
                if (sucesso) {
                $("#modalResultadoRemoverCategoria").find(".modal-header").html(`<h5 class="modal-title text-success fw-semibold">
                        <i class="bi bi-check-circle me-2"></i> Remoção da categoria
                    </h5>`);

                    $("#resultadoMensagem").html(mensagem);

                    $(".btn-modal-ajax").removeClass("btn-danger").addClass("btn-success");
                } else {
                $("#modalResultadoRemoverCategoria").find(".modal-header").html(`<h5 class="modal-title text-danger fw-semibold">
                        <i class="bi bi-x-circle me-2"></i> Falha ao remover a categoria
                    </h5>`);

                    $("#resultadoMensagem").html(mensagem);

                    $(".btn-modal-ajax").removeClass("btn-success").addClass("btn-danger")
                }

                const modalResultado = new bootstrap.Modal(document.getElementById('modalResultadoRemoverCategoria'));
                modalResultado.show();
            }
        </script>
    }
}