@using MBA.Marketplace.MVC.ViewModels;
@using MBA.Marketplace.Business.Enums
@model List<CategoriaViewModel>
@{
    ViewData["Title"] = "Listar Categorias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
    var userTipo = User.FindFirst("TipoUsuario")?.Value ?? "Cliente";
    var isAdmin = userTipo == TipoUsuario.Administrador.ToString();
    var isVendedor = userTipo == TipoUsuario.Vendedor.ToString();
}

@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}
else
{
    <table class="table table-sm table-hover align-middle">
        <thead class="table-light border-bottom">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                @if (isAdmin)
                {
                    <th style="width: 120px;" class="text-end">Ações</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr class="border-bottom border-secondary-subtle">
                    <td class="fw-semibold">@categoria.Nome</td>
                    <td class="text-muted">@categoria.Descricao</td>
                    @if (isAdmin)
                    {
                        <td class="text-end">
                            <a class="btn btn-outline-success btn-sm me-1" title="Editar" href="@Url.Action("editar", "categoria", new { id = categoria.Id })" data-id="@categoria.Id">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a onclick="deletarCategoria(this, event)" class="btn btn-outline-danger btn-sm btn-remover" title="Remover" data-id="@categoria.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal de confirmação -->
<div class="modal fade" id="modalConfirmar" tabindex="-1" aria-labelledby="confirmarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-sm">
            <div class="modal-header bg-warning-subtle border-0">
                <h5 class="modal-title" id="confirmarLabel">Confirmar remoção</h5>
            </div>
            <div class="modal-body">
                Tem certeza que deseja remover esta categoria?
                <div id="spinner" class="text-center mt-3 d-none">
                    <div class="spinner-border text-warning" role="status"></div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Não</button>
                <button type="button" id="btnConfirmarRemocao" onclick="confirmacaoDeletarCategoria(this, event)"  class="btn btn-danger btn-sm">Sim</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de feedback -->
<div class="modal fade" id="modalResultado" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-sm">
            <div class="modal-header bg-light border-0">
                <h5 class="modal-title" id="resultadoTitulo">Resultado</h5>
            </div>
            <div class="modal-body text-secondary small" id="resultadoMensagem"></div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-success btn-sm btn-modal-ajax" data-bs-dismiss="modal" onclick="location.reload()">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let categoriaId = null;
        let url = "@Url.Action("deletar", "categoria")";

        function deletarCategoria(element, event) {
            event.preventDefault();
            categoriaId = $(element).data('id');
            const modal = new bootstrap.Modal(document.getElementById('modalConfirmar'));
            modal.show();
        }

        function confirmacaoDeletarCategoria(element, event) {
            event.preventDefault();

            if (!categoriaId) return;

            $('#spinner').removeClass('d-none');
            $('#btnConfirmarRemocao').prop('disabled', true);

            $.ajax({
                url: `${url}/${categoriaId}`,
                type: 'DELETE',
                success: function () {
                    $('#modalConfirmar').modal('hide');
                    showResultado("Categoria removida com sucesso!", true);
                },
                error: function (err) {
                    let mensagem = err.responseText || "Erro ao remover categoria. Tente novamente.";
                    $('#modalConfirmar').modal('hide');
                    showResultado(mensagem, false);
                },
                complete: function () {
                    $('#spinner').addClass('d-none');
                    $('#btnConfirmarRemocao').prop('disabled', false);
                }
            });
        };

        function showResultado(mensagem, sucesso) {
            if (sucesso) {
                $("#modalResultado").find(".modal-header").html(`<h5 class="modal-title text-success fw-semibold">
                    <i class="bi bi-check-circle me-2"></i> Remoção da categoria
                </h5>`);

                $("#resultadoMensagem").html(mensagem);

                $(".btn-modal-ajax").removeClass("btn-danger").addClass("btn-success");
            } else {
                $("#modalResultado").find(".modal-header").html(`<h5 class="modal-title text-danger fw-semibold">
                    <i class="bi bi-x-circle me-2"></i> Falha ao remover a categoria
                </h5>`);
                
                $("#resultadoMensagem").html(mensagem);

                $(".btn-modal-ajax").removeClass("btn-success").addClass("btn-danger")
            }

            const modalResultado = new bootstrap.Modal(document.getElementById('modalResultado'));
            modalResultado.show();
        }
    </script>
}
