@using MBA.Marketplace.Data.Context
@using Microsoft.AspNetCore.Identity
@model MBA.Marketplace.Business.DTOs.AreaUsuarioDto;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext context

@if (!Model.MostrarTipoUsuario)
{
    <div class="d-flex align-items-center">
        <div class="admin-user-avatar me-2">
            @(@Model.Nome.Substring(0, 1).ToUpper() ?? "U")
        </div>
        <span class="admin-user-info">@Model.Nome</span>
    </div>
}

@if (Model.MostrarTipoUsuario)
{
    <div class="d-flex align-items-center">
        <div class="admin-user-avatar me-3">
            @(@Model.Nome.Substring(0, 1).ToUpper() ?? "U")
        </div>
        <div class="flex-grow-1">
            <div class="fw-bold text-dark">@Model.Nome</div>
            <small class="text-muted">@Model.TipoUsuario</small>
        </div>
    </div>
}
