@using MBA.Marketplace.MVC.Extensions;
@using MBA.Marketplace.MVC.ViewModels;
@model ProdutoViewModel
@{
    ViewData["Title"] = "Detalhes do Produto";
}

<div class="container py-5 text-white">
    <div class="row">
        <div class="col-md-6">
            <img src="/imagens/@Model.Src"
                 onerror="this.onerror=null; this.src='/images/foto-indisponivel.png';"
                 alt="@Model.Nome"
                 class="img-fluid rounded shadow-sm" />
        </div>
        <div class="col-md-6">
            <h2 class="text-success fw-bold">@Model.Nome</h2>
            <p class="text-success">@Model.Descricao</p>

            <p class="fs-5 mt-4">
                <span class="box-text">
                    <strong>Preço:</strong>
                </span>
                <span class="text-success">
                    @Model.Preco?.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))
                </span>
            </p>

            <p class="mt-3">
                <span class="box-text">
                    <strong>Estoque:</strong> 
                </span>
                <span class="text-success">
                    @Model.Estoque
                </span>
            </p>
            
            <p>
                <span class="box-text">
                    <strong>Categoria:</strong>
                </span>
                <span class="text-success">
                    @Model.Categoria.Nome
                </span>
            </p>

            <a href="@Url.Action("index", "home")" class="btn btn-success-light btn-sm mt-4">
                <i class="bi bi-arrow-left me-1"></i> Voltar à listagem
            </a>
        </div>
    </div>
</div>
