@using MBA.Marketplace.MVC.Extensions;
@using MBA.Marketplace.MVC.ViewModels;
@using MBA.Marketplace.Business.Enums;
@model List<ProdutoViewModel>
@{
    ViewData["Title"] = "Listar Produtos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var isAdmin = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == TipoUsuario.Administrador.ToString();
    var isVendedor = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == TipoUsuario.Vendedor.ToString();
}

@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}
else
{
    <table class="table table-sm table-hover align-middle">
        <thead class="table-light border-bottom">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Categoria</th>
                <th>Imagem</th>
                <th style="width: 120px;" class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr class="border-bottom border-secondary-subtle">
                    <td class="fw-semibold">@produto.Nome</td>
                    <td class="text-muted">@produto.Descricao</td>
                    <td class="text-muted">@produto.Preco.ToPtBrCurrency()</td>
                    <td class="text-muted">@produto.Estoque</td>
                    <td class="text-muted">@produto.Categoria.Nome</td>
                    <td class="text-muted">
                        <img style="width: 100px" src="@Html.CheckImage(produto.Src)" onerror="this.onerror=null; this.src='/images/foto-indisponivel.png';" />
                    </td>
                    <td class="text-end">
                        @if (isAdmin)
                        {
                            <a class="btn btn-outline-aplication btn-sm me-1" title="Editar" href="@Url.Action("detalhes", "produto", new { id = produto.Id })" data-id="@produto.Id">
                                <i class="bi bi-eye"></i>
                            </a>
                        }

                        @if (isVendedor)
                        {
                            <a class="btn btn-outline-aplication btn-sm me-1" title="Editar" href="@Url.Action("editar", "produto", new { id = produto.Id })" data-id="@produto.Id">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a onclick="deletarProduto(this, event)" class="btn btn-outline-danger btn-sm btn-remover" title="Remover" data-id="@produto.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        let produtoId = null;
        let url = "@Url.Action("deletar", "produto")";

        function deletarProduto(element, event) {
            event.preventDefault();
            produtoId = $(element).data('id');
            const modal = new bootstrap.Modal(document.getElementById('modalProdutoConfirmar'));
            modal.show();
        }

        function confirmacaoDeletarCategoria(element, event) {
            event.preventDefault();

            if (!produtoId) return;

            $('#spinner').removeClass('d-none');
            $('#btnConfirmarRemocao').prop('disabled', true);

            $.ajax({
                url: `${url}/${produtoId}`,
                type: 'DELETE',
                success: function () {
                    $('#modalConfirmar').modal('hide');
                    showResultado("Produto removido com sucesso!", true);
                },
                error: function () {
                    $('#modalConfirmar').modal('hide');
                    showResultado("Erro ao remover produto. Tente novamente.", false);
                },
                complete: function () {
                    $('#spinner').addClass('d-none');
                    $('#btnConfirmarRemocao').prop('disabled', false);
                }
            });
        };

        function showResultado(mensagem, sucesso) {
            if (sucesso) {
                $("#modalProdutoResultado").find(".modal-header").html(`<h5 class="modal-title text-success fw-semibold">
                    <i class="bi bi-check-circle me-2"></i> Remoção do produto
                </h5>`);

                $("#resultadoMensagem").html(mensagem);

                $(".btn-modal-ajax").removeClass("btn-danger").addClass("btn-success");
            } else {
                $("#modalProdutoResultado").find(".modal-header").html(`<h5 class="modal-title text-danger fw-semibold">
                    <i class="bi bi-x-circle me-2"></i> Falha ao remover o produto
                </h5>`);

                $("#resultadoMensagem").html(mensagem);

                $(".btn-modal-ajax").removeClass("btn-success").addClass("btn-danger")
            }
            const modalResultado = new bootstrap.Modal(document.getElementById('modalProdutoResultado'));
            modalResultado.show();
        }
    </script>
}
